* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Header and navbar */

header {
  background: linear-gradient(90deg, #a32a21, #ef4034, #a32a21);
  border-bottom: #090C02 .15rem solid;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-home {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 1rem;
}

.hamburgermenu {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#hamburgericon {
  display: inline;
}

#crossicon {
  display: none;
}

.navbar-list {
  list-style: none;
  display: none;
  margin-bottom: 1rem;
}

.navbar-list li {
  padding: .5rem;
  font-size: 13pt;
}

.home a, .navbar-list li a {
  text-decoration: none;
  color: #fff;
}

.home a:hover, .navbar-list li a:hover {
  color: beige;
}

/* Chart-section */

main {
  min-height: 95vh;
  background: linear-gradient(90deg, #585858, #767676, #585858);
}

.chart-section {
  display: flex;
  flex-direction: column;
}

.chart-description-section {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.chart-description-section > h2 {
  text-align: center;
  border: solid #090C02 .15rem;
  color: #090C02;
  border-radius: 2rem;
  background-color: #E5E7E6;
}

.canvas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Open source loader from https://loading.io/css/ */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Footer */

footer {
  background: linear-gradient(90deg, #a32a21, #ef4034, #a32a21);
  border-top: #090C02 .15rem solid;
}

footer > p {
  font-size: 11pt;
  padding: 1rem;
  color: #fff;
}
